body {
  background: url(https://firebasestorage.googleapis.com/v0/b/zerotwoimagehosting.appspot.com/o/pexels-pixabay-531880.jpg?alt=media&token=cbcea9ac-bafb-4209-9e37-9c7a4c110a93);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;user-select: none;
  font-size: 15pt;
  font-family: 'IBM Plex Mono', monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  background-size: auto 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projectb{
/**  -webkit-box-shadow: 0px 0px 40px #4195fc;
  -moz-box-shadow: 0px 0px 40px #4195fc;
  box-shadow: 0px 0px 40px #4195fc; **/
  margin-top:20px;
  padding: 10px;
  border-radius:10px;
  background-color: transparent;
  margin-bottom: 10px;
  text-justify: center;
  backdrop-filter: blur(50px);
}
.projectr{
 /** -webkit-box-shadow: 0px 0px 40px #FF2A2A;
  -moz-box-shadow: 0px 0px 40px #FF2A2A;
  box-shadow: 0px 0px 40px  #FF2A2A; **/
  margin-top:20px;
  padding: 10px;
  border-radius:10px;
  background-color: transparent;
  margin-bottom: 10px;
  backdrop-filter: blur(50px)
  
}
.content{
  color: #FFFFFF;
  margin-top:10px;
  font-size: 15px
}
img{
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.links{
  text-decoration: none;
  color: red;
  font-weight: 700;
}
.mail{
  text-decoration: none;
  color: #00CAFF;
  font-weight: 500;
}
nav{ 
  text-decoration: none;
  display:flex;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  backdrop-filter: blur(100px);
  /**-webkit-box-shadow: 0px 0px 20px #03DEFF;
  -moz-box-shadow: 0px 0px 20px #03DEFF;
  box-shadow: 0px 0px 20px  #03DEFF; **/
}
nav a{
  border-radius: 10px;
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}
nav a:hover{
  transition:0.2s;
  text-decoration: none;
  transform: scale(0.9);
  background-color: #000000;
  color:#FFFFFF;
}
.navi{
  margin-bottom: 20px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
.short{
  font-size: 10px;
  font-weight: 500;
  opacity: 0.3;
  margin:50px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading h1{
  font-size: 50px;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
          animation: neon 0.08s ease-in-out infinite alternate;
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}/*ROT-13*/
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
.foot{
  margin-top: 50px;
  opacity: 0.4;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  margin-top: 10px;
  width: 100%;
  color: #FFFFFF;
  bottom: 0;
  height: 2.5em;
  position: relative;
  left: 0;
}
.footera{
  margin-top: 50px;
  opacity: 0.4;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  margin-top: 10px;
  width: 100%;
  color: #FFFFFF;
  bottom: 0;
  height: 1.5em;
  position: relative;
  left: 0;
}
.nothing{
  -webkit-text-shadow: 0px 0px 40px #03DEFF;
  -moz-text-shadow: 0px 0px 40px #03DEFF;
  text-shadow: 0px 0px 40px  #03DEFF; 
  font-size: 40px;
  font-weight: 500;
  opacity: 0.7;
  margin: 50px;
  color: #FFCE10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error{
  text-align: center;
  display: list-item;
  border-radius:10px;
  background-color: transparent;
}
.error h1{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 70px;
}
.error p{
  margin-bottom: 50px;
  color: #FFFFFF7A;
  font-weight: 500;
  font-size: 20px;
}
.error a{
  background-color: #000000;
  backdrop-filter: blur(100px);
  color: #FF050D7A;
  padding: 5px;
  border-radius:10px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;user-select: none;
  -webkit-box-shadow: 0px 0px 40px #FF2A2A;
  -moz-box-shadow: 0px 0px 40px #FF2A2A;
   box-shadow: 0px 0px 40px  #FF2A2A;
   margin-bottom: 50px;
}
.error a:hover{
  color:#160A66;
  background-color: #FFB401;
  -webkit-box-shadow: 0px 0px 40px #FFD10B;
  -moz-box-shadow: 0px 0px 40px #FFD10B;
  box-shadow: 0px 0px 40px #FFD10B;
}
.bad{
  margin-top: 100px;
  margin-right:  50px;
  margin-left: 50px;
  margin-bottom: 100px;
  padding: 10px;
  text-align: center;
  opacity: 0.7;
  font-weight: bold;
}
.badm{
  text-decoration: none;
  color: #00CAFF;
  font-weight: 500;
  font-size: 10px;
}
.anime{
  text-align: center;
  margin-top: 50px;
  margin-right:  50px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 10px;
  color:#00F0FF;
  opacity: 0.7;
  font-weight: bold;
  list-style: none;
}
.anime a{
  color: #FFDF00;
  font-size: 15px;
}
.anime a:hover{
  color: #FF0000;
}
